<div class="profile w-100 vh-100 d-flex justify-content-center align-items-center">
  <div class="container img-thumbnail p-5 shadow-lg">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img-containe text-center">
          <img class=" img-thumbnail p-3 w-75 " src="../../assets/imgs/person.png" alt="">
        </div>
      </div>
      <div class="col-md-8 d-flex align-items-center">
        <ul>
          <li><strong>Name : </strong>
            <label ID="voterName" runat="server">Mohammed Abd El Moaty</label></li>
          <li><strong>N. ID : </strong>
            <label ID="VoterID" runat="server">123456789123</label></li>
          <li><strong>Age : </strong>
            <label ID="voterAge" runat="server">23</label></li>
          <li><strong>Address : </strong>
            <label ID="voterState" runat="server">El Mansoura</label></li>
          <li><strong>Gender : </strong>
            <label ID="voterGender" runat="server">Male</label></li>
        </ul>
      </div>
      <div class="col-md-12">
        <div class="container w-50 pt-4 d-flex justify-content-around">
          <button class="text-uppercase btn text-white btn-danger" ID="DeleteBtn"
          routerLink="" >Delete</button>
          <button class="text-uppercase btn text-white btn-danger" ID="DeleteBtn"
          routerLink="" >Edit</button>
          <button class="text-uppercase btn btn-success text-white" ID="CancelBtn"
          routerLink="/searchfordelete" >Cancel</button>

         

        </div>
      </div>
    </div>
  </div>
</div>
