<div class="title shadow-sm">
  <h4 class="p-2 px-4 bg-white py-2"><i class="fa-solid fa-house-laptop"></i> Overview</h4>
</div>

<div class="container">
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card card-gray card-gray-compact">
        <h5 class="card-header">
          <!----><i class="fa-solid fa-calendar-days"></i>
          Start Date
        </h5>
        <div class="card-body">

          <h6 class="mb-0" id="startDate">Jun 23, 2022, 1:00:00 PM</h6>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-gray card-gray-compact">
        <h5 class="card-header">
          <!----><i class="fa-solid fa-calendar-days"></i>
          End Date
        </h5>
        <div class="card-body">

          <h6 class="mb-0">Jun 30, 2022, 12:00:00 PM</h6>

        </div>
      </div>
    </div>
    <div class="col-md-4 mt-5">
      <div class="card card-widget card-widget-warning">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <i class="fa-solid fa-users"></i>
            <div class="ml-auto d-flex flex-column align-items-end">
              <!---->
              <h2 class="ng-star-inserted">2</h2>
              <!---->
              <span>Voters</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-5">
      <div class="card card-widget card-widget-accent2">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <i class="fa-solid fa-user-tie"></i>
            <div class="ml-auto d-flex flex-column align-items-end ">
              <!---->
              <h2 class="ng-star-inserted">0</h2>
              <!---->
              <span>Candidates</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-5">
      <div class="card card-widget card-widget-accent">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <i class="icon-ballot"></i>
            <div class="ml-auto d-flex flex-column align-items-end">
              <!---->
              <h2 class="ng-star-inserted">0</h2>
              <!---->
              <span>Options</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
