<app-admin-navbar></app-admin-navbar>
<h1 class="mb-4 fw-bolder shadow mt-5 pt-4 text-center p-3">Admin Control</h1>

<div class="container  d-flex justify-content-center align-items-center">
  <div class="container  ">
    <!---->
    <div class="row">
      <div class="col-md-2">
        <ul class="nav nav-tabs d-block" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
              type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"><i class="fa-solid fa-person-booth"></i> Voters</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link  w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
              type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false"><i class="fa-solid fa-user-tie"></i> Candidates</button>
          </li>
        </ul>

      </div>
      <div class=" col-md-8">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
            tabindex="0">
            <div class="row p-2 border text-center">
              <div class="col-md-6">
                <div class="card" style="width: 18rem;">
                  <img src="../../assets/imgs/add voter.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">ADD VOTER</h5>
                    <p class="card-text">Add voters to vote in your election in secondes</p>
                    <a routerLink="/register" class="btn btn-primary">ADD</a>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card" style="width: 18rem;">
                  <img src="../../assets/imgs/delete voter.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Edit VOTERS</h5>
                    <p class="card-text">Edit or delete voters in your election</p>
                    <a (click)="route()" routerLink="/search" class="btn btn-primary">Edit & Delete</a>
                  </div>
                </div>
              </div>

              <!-- <div class="col-md-12">
                <button routerLink="/register" class="btn btn-success w-100">ADD VOTER</button>
              </div> 
              <div class="col-md-12 my-3">
                <button routerLink="/search" class="btn btn-success w-100">Edit VOTER</button>
              </div>
              <div class="col-md-12">
                <button routerLink="/search" class="btn btn-success w-100">Delete VOTER</button>
              </div>-->
            </div>
          </div>
          <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <div class="row p-2 border text-center">

              <div class="col-md-6">
                <div class="card" style="width: 18rem;">
                  <img src="../../assets/imgs/add candidate.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">ADD VOTER</h5>
                    <p class="card-text">Add voters to vote in your election in secondes</p>
                    <a routerLink="/register" class="btn btn-primary">ADD</a>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card" style="width: 18rem;">
                  <img src="../../assets/imgs/candidate.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Edit VOTERS</h5>
                    <p class="card-text">Edit or delete voters in your election</p>
                    <a  (click)="route()" routerLink="/search" class="btn btn-primary">Edit & Delete</a>
                  </div>
                </div>
              </div>

              <!-- <div class="col-md-12">
                <button routerLink="/register" class="btn btn-success w-100">ADD Candidate</button>
              </div>
              <div class="col-md-12 my-3">
                <button routerLink="/search" class="btn btn-success w-100">Edit Candidate</button>
              </div>
              <div class="col-md-12">
                <button routerLink="/search" class="btn btn-success w-100">Delete Candidate</button>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>




  <!-- 
    <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <img src="../../assets/imgs/create-election.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Voters</h5>
                    <p class="card-text">Add Voters ,edit Voters and delete Voters</p>
                    <a routerLink="/admincontrol/voters" class="btn btn-primary">Edit voters</a>
                  </div>
                </div>
              </div>
          
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <img src="../../assets/imgs/create-election.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Candidates</h5>
                    <p class="card-text">Add Candidates ,edit Candidates and delete Candidates</p>
                    <a routerLink="/admincontrol/candidates" class="btn btn-primary">Edit Candidates</a>
                  </div>
                </div>
              </div>
          
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <img src="../../assets/imgs/create-election.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Candidates</h5>
                    <p class="card-text"> Create an election for your school or organization in seconds.<br>You can create your
                      election from here</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
             
   -->

</div>
