.elected-item2 {
  cursor: pointer;
  // background-color: rgba(167, 164, 161, 0.397);
}

.elected-item2:hover {
  background-color: #8aeb89 !important;
}


.ccc{
  width: 100vw;
}

.container {
  min-height: 100vh;
}

// .elected-img{}

img {
  width: 150px;
  height: 150px;
}

@media (max-width: 991px) {
  .container {
    max-width: 95%;
  }
  .elected-item2{
    padding: 10px !important;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  img{
    width: 120px;
    height: 120px;  }
}

// @media (min-width: 0px)and (max-width:500px) {
//   .col-sm-6 {
//     flex: 0 0 auto;
//     width: 50%;
//   }
//
// }
