<section>
  <div class="container d-flex align-items-center vh-100">
    <div class="row">
      <div (click)="vote(candidate)" *ngFor="let candidate of candidates" class="col-md-6 elected-item1 my-3">
        <div class="elected-item2 shadow-sm p-4 rounded-3">
          <div class="d-flex justify-content-evenly align-items-center">
            <div class="w-25 elected-img">
              <img class="rounded-circle w-100" src="../../assets/imgs/person.png" alt="" />
            </div>
            <div class="w-25 elected-img">
              <img class="rounded-circle w-100" src="../../assets/imgs/person.png" alt="" />
            </div>
            <div>
              <h5 class="d-block">Name : {{candidate.fname + " " + candidate.pname}}</h5>
              <h5 class="text-center d-block">Popular Name : {{candidate.nickName||""}}</h5>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
