section{
    background-color: #FFFFFF;
    border: 1px solid rgba(136, 133, 128, 0.466);
}

.general-settings{
    border-bottom: 1px solid rgba(136, 133, 128, 0.466);
    
}

.btn-success {
    color: #fff;
    background-color: #2ecd10;
    border-color: #2ecd10;
}

