<section class="shadow-sm p-3">
  <div class="general-settings">
    <h4><i class="fa-solid fa-gear pb-4"></i> General Settings</h4>
  </div>
  <div class="general-body pt-4">
    <form novalidate="" class="ng-untouched ng-pristine ng-valid">
      <div class="form-group">
        <label for="title">Title<i class="danger-icon icon-attention ps-4"></i></label>
        <input class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="title" type="text">
      </div>



      <button class="btn btn-success ladda-button mt-5" type="submit" data-style="zoom-in"><span
          class="ladda-label">Save</span><span class="ladda-spinner"></span></button>

    </form>
  </div>
</section>
