<section class="ng-star-inserted">
    <div class="card card-gray">
      <h4 class="card-header bg-danger"><i class="icon-trash"></i> Delete Election</h4>
      <div class="card-body">
        <p>Are you sure you want to delete this election? This action is not reversible. </p>
        <button (click)="deleteElection()" class="btn btn-danger ladda-button" type="button" data-style="zoom-in"><span class="ladda-label">Delete Election</span><span class="ladda-spinner"></span></button>
      </div>
    </div>
  </section>