<!-- <app-admin-navbar></app-admin-navbar> -->
<!-- <h1 class="mb-4 fw-bolder shadow mt-5 pt-4 text-center p-3">Admin Control</h1>

<div class="container  d-flex justify-content-center align-items-center">
  <div class="container  ">
    
    <div class="row">
      <div class="col-md-2">
        <ul class="nav nav-tabs d-block" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
              type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"><i class="fa-solid fa-person-booth"></i> Voters</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link  w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
              type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false"><i class="fa-solid fa-user-tie"></i> Candidates</button>
          </li>
        </ul>

      </div>
      <div class=" col-md-8">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
            tabindex="0">
            <div class="row p-2 border text-center">
              <div class="col-md-6">
                <div class="card" style="width: 18rem;">
                  <img src="../../assets/imgs/add voter.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">ADD VOTER</h5>
                    <p class="card-text">Add voters to vote in your election in secondes</p>
                    <a routerLink="/uploadvoter" class="btn btn-primary">ADD</a>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card" style="width: 18rem;">
                  <img src="../../assets/imgs/delete voter.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Edit VOTERS</h5>
                    <p class="card-text">Edit or delete voters in your election</p>
                    <a (click)="route()" routerLink="/search" class="btn btn-primary">Edit & Delete</a>
                  </div>
                </div>
              </div>

             
            </div>
          </div>
          <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <div class="row p-2 border text-center">

              <div class="col-md-6">
                <div class="card" style="width: 18rem;">
                  <img src="../../assets/imgs/add candidate.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">ADD VOTER</h5>
                    <p class="card-text">Add voters to vote in your election in secondes</p>
                    <a routerLink="/addvoter" class="btn btn-primary">ADD</a>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card" style="width: 18rem;">
                  <img src="../../assets/imgs/candidate.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Edit VOTERS</h5>
                    <p class="card-text">Edit or delete voters in your election</p>
                    <a  (click)="route()" routerLink="/search" class="btn btn-primary">Edit & Delete</a>
                  </div>
                </div>
              </div>

              
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div> -->


<section class="min-vh-100">
  <div class="row m-0 ">
    <div class="col-2 p-0 pb-3 min-vh-100 hhh text-center text-white position-fixed">

      <div class="routes text-start d-flex flex-column justify-content-between">
        <div>
          <div class="head p-1 py-2">
            <h1 routerLink="/home"><i class="fas fa-fingerprint text-center"></i> <span>E-Voting</span></h1>
          </div>
          <!-- <div routerLink="overview" class="route-item pt-1">
            <h2 class="py-2"><i class="fa-solid fa-house-laptop"></i> Overview</h2>
          </div>
          <div routerLink="settings" class="route-item">
            <h2 class="py-2"><i class="fa-solid fa-gear"></i> Settings</h2>
          </div>
          <div routerLink="voters" class="route-item">
            <h2 class="py-2"><i class="fa-solid fa-person-booth"></i> Voters</h2>
          </div>
          <div routerLink="candidates" class="route-item">
            <h2 class="py-2"><i class="fa-solid fa-user-tie"></i> Candidates</h2>
          </div> -->

          <ul class="nav nav-pills text-start" id="pills-tab" role="tablist">
            <li routerLink="overview" class="nav-item route-item" role="presentation">
              <button class="nav-link active text-start" id="pills-home-tab" data-bs-toggle="pill" type="button"
                role="tab" aria-controls="pills-home" aria-selected="true"><i class="fa-solid fa-house-laptop"></i>
                <span>Overview</span></button>
            </li>
            <li routerLink="settings" class="nav-item route-item" role="presentation">
              <button class="nav-link text-start" id="pills-profile-tab" data-bs-toggle="pill" type="button" role="tab"
                aria-controls="pills-profile" aria-selected="false"><i class="fa-solid fa-gear"></i> <span
                  class="">Settings</span></button>
            </li>
            <li routerLink="voters" class="nav-item route-item" role="presentation">
              <button class="nav-link text-start" id="pills-contact-tab" data-bs-toggle="pill" type="button" role="tab"
                aria-controls="pills-contact" aria-selected="false"><i class="fa-solid fa-person-booth"></i>
                <span>Voters</span></button>
            </li>
            <li routerLink="candidates" class="nav-item route-item" role="presentation">
              <button class="nav-link text-start" id="pills-contact-tab" data-bs-toggle="pill" type="button" role="tab"
                aria-controls="pills-contact" aria-selected="false"><i class="fa-solid fa-user-tie"></i>
                <span>Candidates</span>
              </button>
            </li>
            <li routerLink="results" class="nav-item route-item" role="presentation">
              <button class="nav-link text-start" id="pills-contact-tab" data-bs-toggle="pill" type="button" role="tab"
                aria-controls="pills-contact" aria-selected="false"><i class="fa-solid fa-square-poll-vertical"></i>
                <span>Results</span>
              </button>
            </li>
          </ul>
          <hr class="">
        </div>

        <div class="sidebar-info">
          <ul class="list-unstyled info-list mb-0">
            <!-- <li class="mb-3 ng-star-inserted">
              <div>
                <span class="text-muted ml-1 text-decoration-none">2 Voters</span>
              </div>
            </li> -->
            <li class="text-muted font-weight-bold"><i class="fa-solid fa-calendar-check"></i> Start Date</li>
            <li class="mb-3 sidebar-start-date"><a class="text-white text-decoration-none"
                routerLink="settings/dates">6/23/22, 1:00 PM</a></li>
            <li class="text-muted font-weight-bold"><i class="fa-solid fa-calendar-xmark"></i> End Date</li>
            <li class="mb-3 sidebar-end-date"><a class="text-white text-decoration-none"
                routerLink="settings/dates">6/30/22, 12:00 PM</a></li>
            <li class="text-muted font-weight-bold"><i class="fa-solid fa-timeline"></i> Timezone</li>
            <li class=" sidebar-timezone"><a class="text-white text-decoration-none"
                href="/election/258947/settings/dates">Africa/Cairo</a></li>
          </ul>

        </div>
      </div>

    </div>


    <div class="col-2 p-0 "></div>

    <div class="col-10 p-0">

      <div class="">
        <div class="head-nav px-2 py-4 d-flex justify-content-between align-items-center w-100 ">
          <div class="col-md-10 fw-bolder">Egyptian Presidential Election</div>
          <div class="col-md-2 voters position-relative">118,958 Voters</div>
        </div>
        <router-outlet class=""></router-outlet>
      </div>
    </div>
  </div>
</section>
