ul li {
    padding: 10px 0;
    font-size: 20px;
}

ul {
    list-style: none;
}

.more-info-btn {
    padding: 10px 20px;
    background-color: #D32220;
    font-size: 20px;
    position: relative;
    top: -10%;
}